<%provide(:title, "Home")%>
<html>
<head>
  <title> <%= yield(:title) %> |Pieces </title>
</head>
<body>
<h1>Pieces</h1>
<p>Looking forward to bringing you guys a Twitter clone! Stay here!</p>
</body>
</html>
